@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
	background-color: #16161d;
} */

.gradient-wrapper-left {
	background: linear-gradient(90deg, #16161d 0%, rgba(0, 0, 0, 0) 100%);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -100;
}

.gradient-wrapper-left-2 {
	background: linear-gradient(90deg, #16161d 20%, rgba(0, 0, 0, 0) 100%);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -100;
}

.gradient-wrapper-left-3 {
	background: linear-gradient(90deg, #16161d 55%, rgba(0, 0, 0, 0) 100%);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
}

.gradient-wrapper-right {
	background: linear-gradient(270deg, #eef1ef 20%, rgba(0, 0, 0, 0) 100%);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -100;
}

.gradient-wrapper-right-2 {
	background: linear-gradient(270deg, #eef1ef 55%, rgba(0, 0, 0, 0) 100%);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -100;
}